@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Noto Sans', 'Noto Sans Symbols 2', sans-serif;
}

body {
    background-color: rgb(161, 164, 179);
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.center {
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 60px;
    margin: 0;
}

button {
    font-size: 22px;
    border-radius: 12px;

}

#start-button {
background-color: #8e82c3;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1em 2em;
  cursor: pointer;
}

#start-button:hover {
    background-color: #7ba75a;
}

.answer-button {
    background-color: #2e2c2c;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.answer-button:hover {
    background-color: #666464;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 4em;
}

#row-container {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.row:nth-child(1) {
    display: flex  ;
    gap: 20em;
    justify-content: center;
}

.row:nth-child(2) {
    display: flex  ;
    gap: 30em;
}