@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Noto Sans', 'Noto Sans Symbols 2', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    color: white;
    margin : 5%;
    height: 100vh;
    box-sizing: border-box;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2 {
    color: white;
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin-bottom: 0.5em;
}

button {
    font-size: 23px;
    border: solid 3px white;

}

p {
    color: white;
    font-size: 20px;    
}

/* MENU SECTION */

#menu-container {
    gap: 6em;
}

/* TUTORIAL SECTION */

#tutorial-container {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

#tutorial-image {
    width: 25em;
    margin: 1em;
    border: solid 2px white;
}

/* MAIN SECTION */

#main-button {
background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.6em 2.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2em 2em;
  cursor: pointer;  
}

#main-button:hover {
    background-color: #747574;
}

.answer-button {
    background-color: #000000;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    padding: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
}

.answer-button:hover {
    background-color: #666464;
}


#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 2em;
}

#row-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.row:nth-child(1) {
    display: flex  ;
    gap: 20em;
    justify-content: center;
}

.row:nth-child(2) {
    display: flex  ;
    gap: 30em;
}