<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroopy app</title>
    <link rel="stylesheet" href="../style/stroop-app.css">
</head>
<body>
    <div id="game-container">
        <div id="row-container">
            <div class="row">
                <button class="answer-button">Rouge</button>
                <button class="answer-button">Bleu</button>
            </div>
            <div class="row">
                <button class="answer-button">Jaune</button>
                <button class="answer-button">Vert</button>
            </div>
        </div>
        <h1 id="color-text"></h1>
        <button id="main-button">Démarrer</button>
    </div>

    <div id="end-screen" style="display:none;">
    <h2>tié un tigre</h2>
    <p id="final-score"></p>
    <button id="btn-restart">restart</button>
</div>

</body>

<script src = "../scripts/view.js"> </script>
<script type="module" src = "../scripts/script.js"></script>
</html>