<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroopy app</title>
    <link rel="stylesheet" href="../style/stroop-app.css">
</head>
<body>
    <div id="game-container">
        <div>
            <div class="row">
                <button class="answer-button">Red</button>
                <button class="answer-button">Blue</button>
            </div>
            <div class="row">
                <button class="answer-button">Yellow</button>
                <button class="answer-button">Green</button>
            </div>
        </div>
        <h1 id="color-text"></h1>
        <button id="start-button">Start</button>
    </div>
</body>

<script src = "../scripts/view.js"> </script>
<script src = "../scripts/script.js"></script>
</html>