<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroopy app</title>
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../style/stroop-app.css">
</head>
<body>
    <div class="center" id="menu-container">
        <h1 id="texte"> Stroopy app </h1>
        <a href="tutorial.html"><button id="start-button"> Démarrer</button></a>
    </div>
</body>
</html>